@model Books.Data.ViewModels.NewBookVM

@{
    ViewData["Title"] = "Book details";

    var rattingSum = ViewBag.RattingSum;
    var rattingCount = ViewBag.RattingCount;

    decimal ratting = 0;
    if (rattingCount > 0)
    {
        ratting = rattingSum / rattingCount;
    }
    var totalRatting = decimal.Parse(ratting.ToString());
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><b>Tác giả: </b>@Model.Author</p>
                        <p class="card-text"><b>Thể loại: </b>@Model.BookType</p>
                        <p class="card-text"><b>Ngày phát hành: </b>@Model.ReleaseDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>Số lượng: </b>@Model.Count</p>
                        <p class="card-text"><b>Mô tả: </b>@Model.Description</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Trở về
                            </a>
                            <div class="form-group">
                                <label asp-for="Count" class="control-label"></label>
                                <input asp-for="Count" type="number" class="form-control" />
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>
                            <a class="btn btn-success text-white  @((DateTime.Now < Model.ReleaseDate) ? "disabled" : "")"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                               <input type="hidden" value="" />
                               <i class="bi bi-cart-plus"></i> Thêm vào giỏ hàng (Price @Model.Price)</a>
                        </p>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated) {
                    <div class="col-md-12">
                        <div class="card-body">
                            <partial name="_CommentBox" />
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <h3>Có @Model.ListOfComments.Count() đánh giá</h3>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            @if (Model.ListOfComments != null && Model.ListOfComments.Count > 0)
                            {
                                @foreach (var item in Model.ListOfComments)
                                {
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i>Khách hàng: <b>@item.UserId </b>- Ngày: <b>@item.RattingDate</b></i>
                                            <br />
                                            <div class=" float-right">
                                                @for (var i = 1; i <= item.Star; i++)
                                                {
                                                    <span class="text-warning fas fa-star "></span>
                                                }
                                                @for (var i = (item.Star + 1); i <= 5; i++)
                                                {
                                                    <span class="text-warning far fa-star"></span>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <b>@Html.Raw(item.Comment.Replace("\n", "<br />"))</b>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No Comment</p>
                            }
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#rateMe1').mdbRate();
        });

        function SCRate() {
            for (var i = 1; i <= @totalRatting; i++) {
                $("#sRate" + i).attr('class', 'starGlowN');
            }
        }
        $(function () {
            SCRate();
        });

        $('.rattingStar').hover(function() {
            $('.rattingStar').addClass('far').removeClass('fas');

            $(this).addClass('fas').removeClass('far');
            $(this).prevAll('.rattingStar').addClass('fas').removeClass('far');
        });

        $('.rattingStar').click(function() {
            var starValue = $(this).attr('td-value');

            $('#Star').val(starValue);
        })
    </script>

    }

    <style>
        .checked {
            color: orange;
        }
    </style>